<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTToolbox MacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TTToolbox iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TTToolbox tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TTToolbox watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E2449921E16E1AB00DFE436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E24499A1E16E1AC00DFE436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2449C11E16E74E00DFE436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E29394C1E16B3B500318247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2939541E16B3B500318247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E94824A1E11B402001E069A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E9482531E11B402001E069A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
